.mainfont {
  font-size: 4rem;
  color: #353531;
}
html {
  padding: 2%;
  background-color: peachpuff;
  max-width: 100%;
  font-size: 62.5%;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  border-bottom: 3px dashed #353531;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
}
nav {
  font-size: 2.8rem;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    margin-top: -10%;
  }
}
nav a {
  text-decoration: none;
  color: #016FB9;
}
nav a:hover {
  color: #353531;
}
@media (max-width: 500px) {
  nav a {
    padding-top: 2%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
footer button {
  width: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 20px;
  font-size: 3rem;
  background-color: #EC4E20;
}
footer button:hover {
  color: #016FB9;
  background-color: grey;
}
footer p {
  text-align: center;
  font-size: 1.5rem;
}
.introduction {
  text-align: center;
}
.introduction h1 {
  font-size: 3rem;
}
.introduction h5 {
  font-size: 1.8rem;
}
.photos {
  width: 30%;
  border-radius: 20px;
}
@media (max-width: 500px) {
  .photos {
    width: 100%;
  }
}
.content1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin-top: 8%;
}
@media (max-width: 500px) {
  .content1 {
    flex-direction: column;
  }
}
.content1 p {
  width: 20%;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .content1 p {
    width: 100%;
  }
}
.content2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 8%;
  padding-bottom: 8%;
  border-bottom: 3px dashed #353531;
}
@media (max-width: 500px) {
  .content2 {
    flex-direction: column;
  }
}
.content2 p {
  width: 20%;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .content2 p {
    width: 100%;
  }
}
.content3 {
  margin-top: 5%;
  border-bottom: 3px dashed #353531;
  padding-bottom: 5%;
}
.content3 p {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 5%;
}
.content3 .imagesbox {
  display: flex;
  justify-content: space-evenly;
}
.content3 .imagesbox .images3 {
  width: 20%;
  border-radius: 20px;
}
