
h2{
    font-size:3rem;
    line-height:1.6;
    text-align: center;
    padding-top: 5%;
}


form{
    background-image:url(../images/heart.jpg);
    background-repeat:no-repeat;
    background-size:cover;

    @media @ipad{
        background-position-x:50%;
    }
}

.email{
    display:flex;
    margin: 0 auto;
    width:20%;
    border-radius:25%;
    padding: 5% 0;

    @media @ipad{
        width: 50%;
    }
}

form{
    .sameflex(flex, column, center);
    font-size: 2.5rem;
    text-align: center;

    input{
        width: 25%;
        min-height: 25px;
        margin: 0 auto;

        @media @ipad{
            width:50%;
        }
    }

    textarea{
        width: 25%;
        min-height:200px;
        margin: 0 auto;
        
        @media @ipad{
            width:50%;
        }
    }

    label{
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .submit{
        width: 20%;
        height: 50px;
        margin: 0 auto;
        margin-top: 5%;
        border-radius: 25px;
        margin-bottom:2%;
        font-family: Comic Sans MS, Comic Sans, cursive;
        font-size: 2rem;
        background-color: @orange;
        &:hover{
            background-color:@darkgrey;
            color:@red;
        }
    }
}

ul{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width: 40%;
    margin: 0 auto;

    @media @ipad{
        width: 50%;
    }
        li{
        padding: 5%;
     }
}

a{
    color:@red;
}

a:hover{
    color:@darkgrey;
  }


footer{
    border-top: 3px dashed @darkgrey;
    margin-top: 3%;

}

